@mixin susy-use($config) {
	$config: susy-compile($config);
	$global: $susy;
	$susy: map-merge($susy, $config) !global;
	@content;
	$susy: $global !global;
}

$mqColumns: (
  mobile: 12,
  tablet: 12,
  desktop: 24,
);

$mqGutter: (
  mobile: 2.5396,
  tablet: 0.78,
  desktop: 0.8055,
);

$mobile: (
	"columns": susy-repeat(12),
	"gutters": 2.5396%,
);

$tablet: (
	"columns": susy-repeat(12),
	"gutters": 0.78%,
);

$desktop: (
	"columns": susy-repeat(24),
	"gutters": 0.8055%,
);


@include susy-use($mobile) {
	.grid-susy {
		width: 85%;
		margin: 0 auto;
		// position: relative;

		// .show_grid & {
			// background: susy-svg-grid() no-repeat scroll;
		// }
	}
}

@include mq($from: tablet) {
	@include susy-use($tablet) {
		.grid-susy {
			width: 82%;
			margin: 0 auto;

			// .show_grid & {
				// background: susy-svg-grid() no-repeat scroll;
			// }
		}
	}
}

@include mq($from: desktop) {
	@include susy-use($desktop) {
		.grid-susy {
			width: 98%;
			margin: 0 auto;

			// .show_grid & {
				// background: susy-svg-grid() no-repeat scroll;
			// }
		}
	}
}



@mixin gridColumn($viewport, $columns, $gap: 0, $parent: false, $last: false) {
  width: ($columns * getColumnWidth($viewport, $parent) + ($columns - 1) * mqGetBreakpointGutter($viewport, $parent)) *
    1%;

  @if not($last) {
    margin-right: mqGetBreakpointGutter($viewport, $parent) * 1%;
  }

  @if $gap {
    margin-left: $gap * (getColumnWidth($viewport, $parent) + mqGetBreakpointGutter($viewport, $parent)) * 1%;
  }
}

@function mqGetBreakpointColumn($name) {
  @if (map-has-key($mqColumns, $name)) {
    @return map-get($mqColumns, $name);
  } @else {
    @warn "Breakpoint #{$name} does not exist";
  }
}

@function mqGetBreakpointGutter($name, $parent: false) {
  @if (map-has-key($mqGutter, $name)) {
    $scale: 1;
    @if $parent {
      $scale: map-get($mqColumns, $name) / $parent;
    }
    @return $scale * map-get($mqGutter, $name);
  } @else {
    @warn "Breakpoint #{$name} does not exist";
  }
}

@function getColumnWidth($name, $parent: false) {
  $columns: mqGetBreakpointColumn($name);

  @if $parent {
    $columns: $parent;
  }

  @return (100 - (($columns - 1) * mqGetBreakpointGutter($name, $parent))) / $columns;
}



@for $i from 1 through 12 {
	.grid_mob_#{$i} {
		@include mq($to: tablet) {
			@include gridColumn(mobile, $i, false, false, true)	
		}
	}

	.grid_offset_mob_#{$i} {
		@include mq($to: tablet) {
			@include gridColumn(mobile, 0, $i, false, true)
		}
	}


	.grid_tab_#{$i} {
		@include mq($from: tablet) {
			@include gridColumn(tablet, $i, false, false, true)
		}
	}

	.grid_offset_tab_#{$i} {
		@include mq($from: tablet) {
			@include gridColumn(tablet, 0, $i, false, true);
		}
	}
}


@for $i from 1 through 24 {
	.grid_des_#{$i} {
		@include mq($from: desktop) {
			@include gridColumn(desktop, $i, false, false, true)
		}
	}

	.grid_offset_des_#{$i} {
		@include mq($from: desktop) {
			@include gridColumn(desktop, 0, $i, false, true)
		}
	}
}


@for $i from 1 through 12 {
	.mt-#{$i}0 {
		margin-top: #{$i}0px;
	}
}

// img {
// 	width: 100%;
// 	object-fit: contain;
// }


.img-cover {
	width: 100%; /* image box size as % of container, see step 1 */
  height: 100%; /* image box size as % of container, see step 1 */
  object-fit: cover;
	object-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}



