// Vertical spacing
@mixin responsiveVerticalSpacing(
  $color: false,
  $cssAttribute: "margin-top",
  $multiply: 1
) {
  @if (map-has-key($verticalSpaces, $color)) {
    @if (is-map(map-get($verticalSpaces, $color))) {
      #{$cssAttribute}: pxToRem(
          map-get(map-get($verticalSpaces, $color), mobile)
        ) *
        $multiply;

      @include mq($from: tablet) {
        #{$cssAttribute}: pxToRem(
            map-get(map-get($verticalSpaces, $color), tablet)
          ) * $multiply;
      }

      @include mq($from: desktop) {
        #{$cssAttribute}: pxToRem(
            map-get(map-get($verticalSpaces, $color), desktop)
          ) * $multiply;
      }

      // @include mq($from: wide) {
      //   #{$cssAttribute}: pxToRem(
      //       map-get(map-get($verticalSpaces, $color), wide)
      //     ) * $multiply;
      // }
    } @else {
      #{$cssAttribute}: pxToRem(map-get($verticalSpaces, $color)) * $multiply;
    }
  }
}

// Font family

@mixin fontH1 {
  @include fontDMSerif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;

  @include mq($from: tablet) {
    font-size: 3.4rem;
  }
}

