// html,
// body,
// div,
// span,
// object,
// iframe,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// blockquote,
// pre,
// abbr,
// address,
// cite,
// code,
// del,
// dfn,
// em,
// img,
// ins,
// kbd,
// q,
// samp,
// small,
// strong,
// sub,
// sup,
// var,
// b,
// i,
// dl,
// dt,
// dd,
// ol,
// ul,
// li,
// fieldset,
// form,
// label,
// legend,
// table,
// caption,
// tbody,
// tfoot,
// thead,
// tr,
// th,
// td,
// article,
// aside,
// canvas,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section,
// summary,
// time,
// mark,
// audio,
// video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   outline: 0;
//   font-size: inherit;
//   vertical-align: baseline;
//   background: transparent;

//   color: inherit;
//   -webkit-font-smoothing: antialiased;
// }

// span {
//   font-family: inherit;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: normal;
// }

// a,
// label,
// button {
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
// }


// a {
//   text-decoration: none;
//   color: black;
// }

// *,
// *:after,
// *:before {
//   box-sizing: border-box;
// }

// button {
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
//   outline: none;
//   border: none;
//   background-color: transparent;
// }


div, span {
    box-sizing: border-box;
}
