@mixin fontDMSerif {
	// font-family: 'DM Serif Display', sans-serif;
}

@mixin fontRubik {
  // font-family: 'Rubik', sans-serif;
}


@mixin fontSpaceMono{
  // font-family: 'Space Mono', monospace;
}

