// Colors

$colorBlack: #000000;
$colorWhite: #ffffff;


//Font size basic

$sizeFontBase: 12;

//Size breakpoints
$sizeBreakpointMobile: 0px;
$sizeBreakpointTablet: 676px;
$sizeBreakpointDesktop: 980px;
// $sizeBreakpointWide: 1401px;

// Color define example


// $verticalSpace6: (mobile: 6);

// $verticalSpace10: (mobile: 10);

// $verticalSpace20: (mobile: 20);

// $verticalSpace40: (mobile: 40);

// $verticalSpace50: (mobile: 50);

// $verticalSpace80: (mobile: 80);

// $verticalSpace150: (mobile: 150);

// $verticalSpaces: (
//   150: $verticalSpace150,
//   80: $verticalSpace80,
//   50: $verticalSpace50,
//   40: $verticalSpace40,
//   20: $verticalSpace20,
//   10: $verticalSpace10,
//   6: $verticalSpace6
// );
