@import "~susy/sass/susy";
@import "~susy/sass/plugins/svg-grid/prefix";

@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/mediaqueries";
@import "./abstracts/fonts";
@import "./abstracts/typography";
@import "./abstracts/reset";
@import "./abstracts/grid";



// @import "./components/sidebar";
// @import "./components/home";
// @import "./components/project";
@import "./components/box";

// @import "./components/teaser";

@import "./components/scroll_counter";
@import "./components/clock";
@import "./components/table";
@import "./components/images";





html {
    max-width: 100vw;
    font-size: 14px;
}

body {
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
}



.additional_grid_gap_top {
    padding-top: var(--gridGapMobile);

    @include mq($from: tablet) {
        padding-top: var(--gridGapTablet);

    }

    @include mq($from: desktop) {
        padding-top: var(--gridGapDesktop);

    }
}

.img_anim {
    transform: translateY(50px);
    opacity: 0;
}