<html>
    <head>
        {{ fn('wp_head') }}
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
        <title>STRONKA</title>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.3/dist/lazyload.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>

        {% include './options/fonts.twig' %}
        {% include './options/global.twig' %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block slider %}{% endblock %}

        {{ fn('wp_footer') }}
    </body>
</html>
