{% extends "base.twig" %}

{% block content %}	
		<div id="app">
		    <div class="grid-susy ">
				{% for module in modules %}
					{% include './components/' ~ module.type ~ '.twig' with {module: module, fonts: fonts} %}
				{% endfor %}	
			</div>	
		</div>
{% endblock %}

{% block slider %}
{# {{ dump(images) }} #}
	<div class="box">
		<span class="box__close">&#x2715;</span>
		<span class="box__next">&#x276F;</span>
		<span class="box__prev">&#x276F;</span>

		<div class="box__mover">
			{% for image in images %}
			{# {{ dump(image) }} #}
				<div class="box__inside">
					<img class="lazy project__main__img" 
						data-src="{{ image.url }}" 
						alt="project image"  />
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}