<html>
    <head>
        {{ fn('wp_head') }}
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
        <title>STRONKA</title>        
    </head>
    <body>
        {# {{ fonts }} #}
        {# {{ fn('wp_footer') }} #}

        <ul>
            {% for font in fonts %}
                <li style="font-family: {{ font.font_name }}">{{ font.font_name }}</li>
            {% endfor %}
        </ul>

    </body>
</html>
