{% for font in options.font %}
    <style>
        {{ font.font_usage }} {
            font-family: {{ font.fontname }};
            color: {{ font.font_color }};
            margin: 0px;
            font-size: {{ font.dynamic_font ? 100 : font.font_size_mobile }}px;
            font-weight: {{ font.font_weight }};
            line-height: {{ font.line_height }};
        }

         @media screen and (min-width: 676px) {
            {{ font.font_usage }} {
                font-size: {{ font.dynamic_font ? 100 : font.font_size_tablet }}px;
            }
        }


        @media screen and (min-width: 980px) {
            {{ font.font_usage }} {
                font-size: {{ font.dynamic_font ? 100 : font.font_size_desktop }}px;
            }
        }
    </style>
{% endfor %}
