<module-clock inline-template>
	<section 
        class="
        clock 
            grid_mob_{{ module.grid.mobile_columns }} 
            grid_tab_{{ module.grid.tablet_columns }} 
            grid_des_{{ module.grid.desktop_columns }}
            grid_offset_mob_{{ module.grid.mobile_offset }} 
            grid_offset_tab_{{ module.grid.tablet_offset }} 
            grid_offset_des_{{ module.grid.desktop_offset }}
        "
  >
    <{{ module.font_as }}> <span class="clock__nums">00:00:00</span> </{{ module.font_as }}>
	</section>
</module-clock>