<div
class="element"
data-fade="{{ module.fade_out_after }}"
style="
position: fixed;
margin-top: {{ module.margin_top }}px;
margin-left: {{ module.margin_left }}px;

width: {{module.width}}px;
top: {{ module.position.top }}vh;
left: {{ module.position.left }}vw;
transform: translate(-{{module.position.left}}%, +{{module.position.top}}%)
"

>{{ module.editor }}</div>
