<module-heading inline-template>
	<section 
        class="
            heading
            heading--{{ module.id }}
            grid_mob_{{ module.grid.mobile_columns }} 
            grid_tab_{{ module.grid.tablet_columns }} 
            grid_des_{{ module.grid.desktop_columns }}
            grid_offset_mob_{{ module.grid.mobile_offset }} 
            grid_offset_tab_{{ module.grid.tablet_offset }} 
            grid_offset_des_{{ module.grid.desktop_offset }}
        "

        style="
            text-align: {{ module.text_align }};
        "
  >
    <{{ module.font_as }}> 
        {{ module.text }} 
    </{{ module.font_as }}>

    <style>
        .heading--{{ module.id }} {
            margin-top: {{ module.margin_top.mobile }}px;
        }

        @media screen and (min-width: 676px) {
            .heading--{{ module.id }} {
                margin-top: {{ module.margin_top.tablet }}px;
            }
        }


        @media screen and (min-width: 980px) {
            .heading--{{ module.id }} {
                margin-top: {{ module.margin_top.desktop }}px;
            }
        }
    </style>

	</section>
</module-heading>