<module-images inline-template>
	<section 

        {# class="
        table 
            grid_mob_{{ module.grid.mobile_columns }} 
            grid_tab_{{ module.grid.tablet_columns }} 
            grid_des_{{ module.grid.desktop_columns }}
            grid_offset_mob_{{ module.grid.mobile_offset }} 
            grid_offset_tab_{{ module.grid.tablet_offset }} 
            grid_offset_des_{{ module.grid.desktop_offset }}
        " #}

        class="
        images
        images--{{ module.id }}
        {{ module.extra_margin_top == true ? 'additional_grid_gap_top' : ''}}
        "

        {# style="overflow: hidden" #}
  >
   {% for img in module.images %}
        <img 
        class="
            lazy
            images__image 
            img_anim

            grid_mob_{{ img.grid.mobile_columns }} 
            grid_tab_{{ img.grid.tablet_columns }} 
            grid_des_{{ img.grid.desktop_columns }}
            grid_offset_mob_{{ img.grid.mobile_offset }} 
            grid_offset_tab_{{ img.grid.tablet_offset }} 
            grid_offset_des_{{ img.grid.desktop_offset }}
        "

        data-bump="{{ img.bump_up ? img.bump_up : 0}}"
        
        data-src="{{ img.img.sizes.large }}" alt="image" />
    {% endfor %}


    <script>
    {# const cos = {{ }} #}
        {# const module_{{ module.id }} = document.querySelector('.images--' + {{ module.id }})
            console.log(module_{{ module.id }}); #}
         {# module_{{ module.id }}.querySelectorAll('.images__image').forEach(img => { #}

                
                

                 {# console.log("img.offsetHeight", img) #}
        
             
         {# }) #}

    </script>


  
    <style>
        .images--{{ module.id }} {
            margin-top: {{ module.margin_top.mobile }}px;
        }

        @media screen and (min-width: 676px) {
            .images--{{ module.id }} {
                margin-top: {{ module.margin_top.tablet }}px;
            }
        }


        @media screen and (min-width: 980px) {
            .images--{{ module.id }} {
                margin-top: {{ module.margin_top.desktop }}px;
            }
        }
    </style>


	</section>
</module-images>