<module-images-masonry inline-template>
	<section 
        class="
        images_masonry
        images_masonry--{{ module.id }}
        "

        data-mobile="{{ module.columns.mobile }}"
        data-tablet="{{ module.columns.tablet }}"
        data-desktop="{{ module.columns.desktop }}"
    >

        {% for img in module.images %}
            <img class="lazy img_anim" src="{{ img.sizes.large }}" alt="image" />
        {% endfor %}


        <script>
            const container{{ module.id }} = document.querySelector('.images_masonry--' + {{ module.id }})
            const columns{{ module.id }} = container{{ module.id }}.dataset

            const macyInstance{{ module.id }} = Macy({
                container: container{{ module.id }},
                trueOrder: false,
                waitForImages: false,
                margin: 24,
                columns: columns{{ module.id }}.mobile,
                breakAt: {
                    3200: columns{{ module.id }}.desktop,
                    980: columns{{ module.id }}.tablet,
                    676: columns{{ module.id }}.mobile
                }
            });
        </script>

  
        <style>
            .images_masonry--{{ module.id }} {
                margin-top: {{ module.margin_top.mobile }}px;
            }

            @media screen and (min-width: 676px) {
                .images_masonry--{{ module.id }} {
                    margin-top: {{ module.margin_top.tablet }}px;
                }
            }


            @media screen and (min-width: 980px) {
                .images_masonry--{{ module.id }} {
                    margin-top: {{ module.margin_top.desktop }}px;
                }
            }
        </style>
	</section>
</module-images-masonry>