<module-line inline-template class="line">
	<div 
        class="
        line
        line--{{ module.id }}
            grid_mob_{{ module.grid.mobile_columns }} 
            grid_tab_{{ module.grid.tablet_columns }} 
            grid_des_{{ module.grid.desktop_columns }}
            grid_offset_mob_{{ module.grid.mobile_offset }} 
            grid_offset_tab_{{ module.grid.tablet_offset }} 
            grid_offset_des_{{ module.grid.desktop_offset }}
        "

        style="
            background-color: {{ module.color}};
            height: {{ module.height }}px;
            margin-top: {{ module.margin_top }}px;
        "
  >

    <style>
        .line--{{ module.id }} {
            margin-top: {{ module.margin_top.mobile }}px;
        }

        @media screen and (min-width: 676px) {
            .line--{{ module.id }} {
                margin-top: {{ module.margin_top.tablet }}px;
            }
        }


        @media screen and (min-width: 980px) {
            .line--{{ module.id }} {
                margin-top: {{ module.margin_top.desktop }}px;
            }
        }
    </style>

	</div>
</module-line>