<module-logo inline-template>
	<section 
        style="
            position: fixed;
            top: {{ module.position.vertical }}vh;
            left: {{ module.position.horizontal }}vw;
            width: {{ module.width }}px;
            margin: {{module.margin.top}}px {{module.margin.right}}px {{module.margin.bottom}}px {{module.margin.left}}px;
            z-index: 10;
        "
  >
    {% if module.is_logo_image == true %}
        <img src="{{ module.image.sizes.small }}" alt="LOGO" />
    {% else %}
            <{{ module.font_as }}> {{ module.text }} </{{ module.font_as }}>
    {% endif %}
	</section>
</module-logo>