<module-clock inline-template>
	<section 
        class="
        table
            table--{{ module.id }}
            grid_mob_{{ module.grid.mobile_columns }} 
            grid_tab_{{ module.grid.tablet_columns }} 
            grid_des_{{ module.grid.desktop_columns }}
            grid_offset_mob_{{ module.grid.mobile_offset }} 
            grid_offset_tab_{{ module.grid.tablet_offset }} 
            grid_offset_des_{{ module.grid.desktop_offset }}
        "

  >
     <ul class="table__list">
        {% for item in module.items %}
        <li class="table__list__item table__list__item--{{ module.id }}">
            <{{ module.font_as }}>
                {{ item.item_text|e }}
            </{{ module.font_as }}>
        </li>
        {% endfor %}
     </ul>


    <style>
        .table--{{ module.id }} {
            margin-top: {{ module.margin_top.mobile }}px;
        }

        .table__list__item--{{ module.id }} {
            flex-basis: {{ 100 / module.columns_count.mobile }}%;
        }

        @media screen and (min-width: 676px) {
            .table--{{ module.id }} {
                margin-top: {{ module.margin_top.tablet }}px;
            }

            .table__list__item--{{ module.id }} {
                flex-basis: {{ 100 / module.columns_count.tablet }}%;
            }
        }


        @media screen and (min-width: 980px) {
            .table--{{ module.id }} {
                margin-top: {{ module.margin_top.desktop }}px;
            }

            .table__list__item--{{ module.id }} {
                flex-basis: {{ 100 / module.columns_count.desktop }}%;
            }
        }
    </style>

	</section>
</module-clock>