
<input class="input_h1" type="hidden" data-family="{{fonts.h1.family}}"></input>

<div
class="
teaser 
grid_mob_{{ module.align_to_grid == true ? module.grid.mobile_columns }} 
grid_tab_{{ module.align_to_grid == true ? module.grid.tablet_columns }} 
grid_des_{{ module.align_to_grid == true ? module.grid.desktop_columns }}
grid_offset_mob_{{ module.align_to_grid == true ? module.grid.mobile_offset }} 
grid_offset_tab_{{ module.align_to_grid == true ? module.grid.tablet_offset }} 
grid_offset_des_{{ module.align_to_grid == true ? module.grid.desktop_offset }}
"
style="
position: relative;

margin-top: {{ module.margin.top }}px;

padding: {{ module.padding.top}} {{ module.padding.right }} {{ module.padding.bottom}} {{ module.padding.left }};

height: {{ module.height == 0 ? 'none' : module.height}}vh;

width: {{ module.width == true ? module.width : 'none'}};
transform: {{ module.width == true ? 'translateX(-50%)' : 'none'}};
left: {{ module.width == true ? '50%' : 'none'}};

background-color: {{ module.background }};

border-radius: {{ module.corner_radius }}px;
">
{{ module.editor }}</div>
