<module-window-module>
	<section 
        class="
        window
        window--{{ module.id }}
        {# {{ module.extra_margin_top == true ? 'additional_grid_gap_top' : ''}} #}
        "

        style="
            width: 100vw;
            height: {{ module.height }}vh;
        ";
  >

        <div 
            class="window--{{ module.id }}__img"

        style="
            position: absolute;
            width: 100vw;
            left: 0;
            height: {{ module.height }}vh;
            background: url({{module.image.sizes.large}});
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
        "
        ></div>

        <div class="window__placeholder"
        style="
            width: 100vw;
            height: {{ module.height }}vh;
            position: relative;
        "
        ></div>


    {# <script>
    const window{{ module.id }} = document.querySelector('.window--' + {{ module.id }} + '__img')



    const moveImg = () => {
        const offsetLeft = window{{ module.id }}.getBoundingClientRect().x
        window{{ module.id }}.style.transform = `translateX(${-offsetLeft}px)`
    }

    moveImg()

    window.addEventListener('resize', () => moveImg())

 
    </script> #}


  
    <style>
        .window--{{ module.id }} {
            margin-top: {{ module.margin_top.mobile }}px;
        }

        @media screen and (min-width: 676px) {
            .window--{{ module.id }} {
                margin-top: {{ module.margin_top.tablet }}px;
            }
        }


        @media screen and (min-width: 980px) {
            .window--{{ module.id }} {
                margin-top: {{ module.margin_top.desktop }}px;
            }
        }
    </style>
    

	</section>
</module-window-module>